/*Do not duplicate or constantly compile sections, as it will duplicate keys and check each all data is inserted*/



INSERT INTO user(id_User,First_Name,Last_Name,Title,Email_Address,Password,Position,User_Name)

VALUES('1','John','Wicker','Mr','JWK@random.co.uk','Johnwick','Owner','Wikerman');



/*Data has been inserted for User table, INSERT INTO user (1 Row affected)*/


INSERT INTO login(id_Login,User_Name,Password,Bad_Login,Registeration_id_Registeration)

VALUES ('1','Wikerman','Johnwicker','0','1');



/*Data has been inserted into Login table and output is 1 Row is Affected etc*/
